<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>


  </head>
  <body>
    <a href="/api/v1">요청1</a>
    <a href="/api/v2">요청2</a>
    <a href="/api/v3">요청3</a>

    <div>요청 : {<%=data%>}</div>
  </body>
</html>
